@charset "UTF-8";
@media only screen and (max-width:800px) {
  body{
    background-color:#0099ff;
  }
  #m{
    width:400px;
    margin-left:-200px;
  }
}
body{
  overflow-x:hidden;
  overflow-y: hidden;
  background-color:#111111;
  text-align:center;
  padding:0;
  font-family:'Roboto Condensed',sans-serif;
}
.s{
  position:absolute;
  top:0;
  width:100%;
  height: 100vh;
  overflow-y: scroll;
}
.c1{
  position:absolute;
  width:100%;
  top: 100px;
}
#home,#c1a,#c1b,#c1c{
  left:0;
}
#certificates{
  left:100%;
}
#gallery{
  left:200%;
}
#m{
  position:fixed;
  display: flex;
  width:1400px;
  top:0;
  left:50%;
  margin-left:-700px;
  border-radius:0 0 12px 12px;
  padding:10px 0;
  align-items:center;
  justify-content:center;
  background-color:#48fd48;
}
.hb{
  position:relative;
  display:inline-block;
  width:200px;
  height:75px;
  margin:0 5px;
  background-color:#000000;
}
.ab{
  color: #00ff00;
  text-decoration:none;
  font-size: 30px;
  font-weight: bold;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  align-items:center;
  justify-content:center;
}
.hb:hover{
  background-color: #ffffff;
}
#bg{
  position: relative;
  display: flex;
  width: 100%;
}
.i{
  display: inline-block;
  box-sizing: border-box;
  height: 350px;
}
.i:hover{
  border:5px solid #ffff00;
  cursor:pointer;
}
#z{
  position:relative;
  display:none;
}
#zb{
  position:fixed;
  top:50px;
  left:50%;
  margin-left:-50px;
  color: #000000;
  padding:10px 10px;
  font-size: 30px;
  background-color:#ffff00;
}
#zb:hover{
  cursor:pointer;
  background-color:#ffffff;
}
#d{
  margin-top:100px;
  height: 120vh;
  display:none;
}
p{
  color:#ffffff;
  font-size: 30px;
}
.S1{
  display: none;
  width: 100%;
  height: 100%;
}
.cont{
  height: 540px;
  width: 960px;
  position: relative;
  /*border: 5px solid #48fd48;*/
}
.lb,.rb{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  padding: 16px;
  margin-top: -22px;
  color: #48fd48;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.lb{
  left: 0;
  border-radius: 3px 0 0 3px;
}
.rb{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.lb:hover,.rb:hover{
  background-color: #f1f1f1;
  color: black;
}
.text{
  position: relative;
  display: block;
  bottom: 0px;
  text-align: center;
}
.b{
  display: flex;
}
.h{
  display: inline-block;
  width: 50%;
  height: 500px;
  align-items: center;
  justify-content: center;

}
.ht{
  width: 70%;
  padding-left: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ft{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #48fd48;
}
.fb{
  margin: 0 10px;	
}
